// ThreadLocker Color Vars
$BlueJeans: #5ebee0;
$Indigo: #163963;
$SteelBlue: #2e7ca6;
$Silver: #aaabb8;
$Black: #000000;

//ThreatLocker Font
$header: Lato;
$sub-header: "Open Sans";


.hero{
    background-color: $Indigo;
    
    h1{
        font: 4.5rem $header
    }
}

