// ThreadLocker Color Vars
$BlueJeans: #5ebee0;
$Indigo: #163963;
$SteelBlue: #2e7ca6;
$Silver: #aaabb8;
$Black: #000000;

<<<<<<< HEAD
<<<<<<< HEAD
//ThreatLocker Font
$header: Lato;
$sub-header: 'Open Sans';
$body-font: Roboto;


*{
    margin: 0;
    padding: 0;
}

.hero{
    background: linear-gradient($Indigo, $BlueJeans, $Indigo);
    padding: 100px;

    h1{
        font: 700 4.5rem $header;
        text-transform: uppercase;
        color: white;
    }

    h2 {
        font: 100 1.5rem $sub-header;
        color: white;
    }
}
=======
>>>>>>> 1c672a8 (Announcment styling)
=======
>>>>>>> 4ba7dfa (Annbar styling)

// Announcement Bar Styling
